  <header class="header">
    <div class="layout header__wrapper"><a class="logo" href="#"><img class="logo__image"
          src="../../assets/logo.svg" alt="Vizoo GmbH"></a>
      <div class="header__main">
        <div class="header__menu">
          <ul class="menu">
            <li id="menu-item-54"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-54"><a
                href="#">Home</a></li>
            <li id="menu-item-254"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-254"><a
                href="#" class="arrow-link">Solutions</a>
            </li>
            <li id="menu-item-147" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-147"><a
                href="#">Stories</a></li>
            <li id="menu-item-238"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-238"><a
                href="#" class="arrow-link">Company</a>
            </li>
            <li id="menu-item-209"
              class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_parent  menu-item-has-children menu-item-209">
              <a href="#" class="arrow-link">Partner</a>
            </li>
            <li id="menu-item-31"
              class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-30 menu-item-31">
              <a href="#" aria-current="page">Contact</a>
            </li>
          </ul>
        </div>
        <div class="header__button-wrapper">
          <div class="language">
            <a class="language__link language__link--active" href="#">EN</a>
            <a class="language__link" href="#">中文</a>
          </div>
          <div class="header__button"><a class="button button--border" href="#">Get in
              touch</a></div>
          <button class="burger-menu"><span class="burger-menu__item"></span><span
              class="burger-menu__item"></span><span class="burger-menu__item"></span></button>
        </div>
      </div>
    </div>
  </header>