
  <div class="footer">
    <div class="layout">
      <h3 class="footer__title">We've got even more to tell. Follow us.</h3>
    </div>
    <div class="layout layout--small">
      <ul class="socials__menu">
        <li><a href="#"><img src="../../assets/images/mail.svg" alt="Email"></a></li>
        <li><a target="_blank" href="#"><img src="../../assets/images/li.svg"
              alt="Linkedin"></a></li>
        <li><a target="_blank" href="#"><img src="../../assets/images/instagram.svg"
              alt="Instagram"></a></li>
        <li><a target="_blank" href="#"><img src="../../assets/images/facebook.svg"
              alt="Facebook"></a></li>
        <li><a target="_blank" href="#"><img src="../../assets/images/youtube.svg"
              alt="youtube"></a></li>
      </ul>
      <div class="footer__contact-wrapper">
        <div class="footer__contact-item">
          <h3 class="footer__contact-title">Vizoo HQ</h3>
          <div class="footer__contact-text">
            <p>Vizoo GmbH<br>
              Johann-Karg-Str. 30<br>
              85540 Munich<br>
              Germany</p>
            <p>+49 (0) 89 37917647</p>
          </div>
        </div>
        <div class="footer__contact-item">
          <h3 class="footer__contact-title">Vizoo USA</h3>
          <div class="footer__contact-text">
            <p>Vizoo GmbH<br>
              1708-C Augusta St #103<br>
              Greenville, SC 29605<br>
              USA</p>
            <p>+1 (864) 735-8084</p>
          </div>
        </div>
        <div class="footer__contact-item">
          <h3 class="footer__contact-title">Vizoo Logistics</h3>
          <div class="footer__contact-text">
            <p>Vizoo GmbH<br>
              Pasteurstr. 2<br>
              84570 Polling<br>
              Germany</p>
          </div>
        </div>
      </div>
      <div class="footer__copy">
        <p>© 2021 Vizoo GmbH</p>
        <div class="footer__copy-lists"><a href="#">Legal Notice</a><a
            href="#">Privacy Policy</a></div>
      </div>

    </div>
  </div>
