<section class="section section__full-offset section__post two_column" id="resellers">
    <div class="layout layout--large">

        <app-partner-form (partnerInstance)="getPartnerInstance($event)">

        </app-partner-form>

        <div class="heading heading--offset-small">
            <div class="heading__title">Get to know our reselling partners</div>
        </div>
        <div class="menu-page menu-page--center">
            <button (click)="setRegion('All')" [ngClass]="{'mixitup-control-active': currentRegion==='All'}"><span>All
                    Resellers</span></button>
            <button *ngFor="let rgn of regions | keyvalue" (click)="setRegion(rgn.value)"
                [ngClass]="{'mixitup-control-active': currentRegion===rgn.value}"><span>{{rgn.value}}</span></button>

        </div>

        <app-partner-list [partnerInstance]="partnerInstance" [selectedRegion]="currentRegion"></app-partner-list>

    </div>
</section>